form {
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 2em;
}

h4 {
    margin-top: 2em;
}

.series-row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-footer {
    margin-top: 2em;

    button {
        min-width: 200px;
    }
}