form {
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 2em;
}

h4 {
    margin-top: 2em;
}

.series-row {
    margin: 1em 0;
    .form-group + .form-group {
        margin-left: 15px;
    }
}

.form-footer {
    margin-top: 2em;

    button {
        min-width: 200px;
    }
}