@import '../../../assets/scss/variables';

.dashboard-list {
    margin: 2em 0;
    padding: 0;

    li {
        list-style: none;
        border-color: $gray-lighter;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        line-height: 2;
        font-weight: 600;
        color: $gray;
        cursor: pointer;

        &:hover {
            background-color: $gray-lighter;
        }

        & + li {
            border-top-style: none;
        }
    }
}